<div class="hero bg-blue-50 " style="height: 500px;" >
  <div class="hero-content flex-col lg:flex-row">
    <img src="/assets/shooping2.png" class="max-w-sm rounded-lg " />
    <div>
      <h1 class="text-5xl font-bold">Discover Trendy Products!</h1>
      <p class="py-6">Explore our vast collection of high-quality and stylish products. From fashion to electronics, find the perfect items to elevate your lifestyle. Enjoy a seamless shopping experience with us.</p>
      <button class="btn border-0 bg-indigo-300"><a routerLink="/dashboard">Shop Now</a></button>
    </div>
  </div>
  

</div>
<app-footer></app-footer>

