@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.container{
    margin-left: 5%;
    margin-right: 5%;
}

body {
    margin: 20px; 
  }



